html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

*,
*::before,
::after{
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ====page==== */

.page {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    background: #000000 url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


/* ====header==== */

.header {
    max-width: 100%;
    background-color: #2b7ded;
    padding: 1rem 0;
    margin-bottom: 110px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brend {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.logo-img {
    display: block;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.2s linear;
}

.header-link:hover {
    color: rgb(255, 170, 170);
}

.header-link.active {
    position: relative;
}

.header-link.active::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;
}

/* ====content==== */

.content {
    width: 565px;
    max-width: 100%;
}

.content-header {
    margin-bottom: 35px;
}

.subtitle {
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    font-weight: 300;
}

.title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.title span {
    color: #2b7ded;
}

.text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* ====content form==== */

.content-form {
    display: block;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
}

.form-group {
    margin-bottom: 20px;
}

.form-input,
.form-textarea {
    display: block;
    border-radius: 5px;
    width: 100%;
    font-family: inherit;
    border: 0;
    
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    padding: 12px 18px;
}

.form-textarea {
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

.form-input::placeholder,
.form-textarea::placeholder  {
    color: #fff;
}

/* ====button=== */

.btn {
    border-radius: 5px;
    background-color: #2b7ded;
    padding: 12px 35px;
    display: inline-block;

    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 1.1;
    transition: background-color 0.2s linear;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-bottom: 20px;
}

.btn-full {
    display: block;
    width: 100%;
    outline: none;
}

.btn-full:focus {
    background-color: rgb(102, 50, 245);
}

.btn:hover {
    background-color: rgb(102, 50, 245);
}

/* ====author=== */

.author {
    position: absolute;
    bottom: 0;
    right: 20px;
}


/* ====footer=== */

.footer {
    position: absolute;
    bottom: 45px;
    width: 100%;
    left: 0;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.contacts-link:last-child{
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child::after {
    content: '';
    display: block;
    height: 2px;
    width: 80px;
    background-color: #fff;
    margin-left: 2rem;
    pointer-events: none;
    position: absolute;
    top: 11px;
    left: 100%;


}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    display: inline-block;
    margin-right: 5px;
}

/* ====media=== */

@media(max-width:1300px) {

    .author {
        right: -170px;
    }
}

@media(max-width:767px) {

.content-form {
    margin: 0 auto; 
}

.page {
        height: auto;
        min-height: 100vh;
        padding-bottom: 2rem;
        }
    
.header {
        margin-bottom: 50px;
    }

.header-brend {
        font-size: 1.2rem;
    }

.header-logo {
        display: none;
    }

.content {
    margin-bottom: 50px;
    text-align: center;
    padding: 0 1rem;
    margin: 0 auto;
}

.footer {
        position: static;
    }

.contacts {
    flex-direction: column;
}

.contacts-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
}

.contacts-link:last-child::after {
    display: none;
    margin-right: 0;
    margin-bottom: 0;
}

.author {
    display: none;
}
}

@media(max-width:565px) {

.header-inner {
    flex-direction: column;
    }

.header-brend {
    margin-bottom: 1rem;
}

.subtitle {
   font-size: 1.2rem;
}

.title {
    font-size: 1.6rem;
}

}

@media(max-width:320px) {
    
.subtitle {
    font-size: 1.2rem;
}

.title {
    font-size: 1.6rem;
}
}