body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #eeeeee;
    background-image: url("../img/pattern.png");
    background-size: 200px 200px;
    background: #eeeeee url("../img/pattern.png");
}

.title {
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.justify {
    text-align: justify;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

ul {
    list-style-type: square;
    list-style-position: outside;

    color: #114eaf;
}

ol {
    list-style-type: decimal-leading-zero;
}

.table {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    color: #ff0000;
}

.table td {
    border: 1px solid #aaaaaa;
    padding: 5px 10px;
}

.table tfoot td {
    text-align: right;
}

/* Post */

.post {
    width: 700px;
    height: 400px;
    margin: 0 auto 20px;
    border: 1px solid #ddd;
    padding: 15px 25px;
    background: #fff url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

.post-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #00ff40;
}

.post-text p {
    margin: 0 0 10px 0;
    color: #fff;
}

/*  Gradient */

.gradient {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    /* background-image: linear-gradient(0, #fff 40%, #333 80%, #eeeeee); */
    background-image: radial-gradient(circle, #fff 40%, #333 80%, #eeeeee);
}